extends layout
block content
    div.col-md-offset-3.col-md-6
        form(method='post', action='')
            div.form-group
                label First Name
                input.form-control(type="text" name="firstName" placeholder="Fill your first name")
                label Middle Name
                input.form-control(type="text" name="middleName" placeholder="Fill your middle name")
                label Last Name
                input.form-control(type="text" name="lastName" placeholder="Fill your last name")
                button.btn.btn-success(type="submit") Submit